@font-face {
  font-family: 'mission_gothicbold';
  src: url("../fonts/mission_gothic_bold-webfont.eot");
  src: url("../fonts/mission_gothic_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mission_gothic_bold-webfont.woff") format("woff"), url("../fonts/mission_gothic_bold-webfont.ttf") format("truetype"), url("../fonts/mission_gothic_bold-webfont.svg#mission_gothicbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mission_gothiclight';
  src: url("../fonts/mission_gothic_light-webfont.eot");
  src: url("../fonts/mission_gothic_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mission_gothic_light-webfont.woff") format("woff"), url("../fonts/mission_gothic_light-webfont.ttf") format("truetype"), url("../fonts/mission_gothic_light-webfont.svg#mission_gothiclight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 43, ../sass/partials/_config.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 47, ../sass/partials/_config.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'mission_gothiclight', arial;
}

/* line 53, ../sass/partials/_config.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 58, ../sass/partials/_config.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 63, ../sass/partials/_config.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 72, ../sass/partials/_config.scss */
img {
  vertical-align: middle;
}

/* line 76, ../sass/partials/_config.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/partials/_config.scss */
textarea {
  resize: vertical;
}

/* line 86, ../sass/partials/_config.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 98, ../sass/partials/_config.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
/* line 107, ../sass/partials/_config.scss */
.header-container {
  border-bottom: 20px solid #e44d26;
}

/* line 112, ../sass/partials/_config.scss */
.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

/* line 118, ../sass/partials/_config.scss */
.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

/* line 122, ../sass/partials/_config.scss */
.title {
  color: white;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 131, ../sass/partials/_config.scss */
.main {
  padding: 30px 0;
}

/* line 135, ../sass/partials/_config.scss */
.main article h1 {
  font-size: 2em;
}

/* line 139, ../sass/partials/_config.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 144, ../sass/partials/_config.scss */
.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 153, ../sass/partials/_config.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 162, ../sass/partials/_config.scss */
p {
  font-size: 15px;
  color: #696969;
}

/* line 167, ../sass/partials/_config.scss */
a {
  font-family: 'mission_gothicbold', arial;
  color: rgba(85, 156, 152, 0.8);
  text-decoration: underline;
  transition: all 0.3s;
}
/* line 173, ../sass/partials/_config.scss */
a:hover {
  color: #559c98;
}

/* line 178, ../sass/partials/_config.scss */
strong {
  font-family: 'mission_gothicbold', arial;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 197, ../sass/partials/_config.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 204, ../sass/partials/_config.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 211, ../sass/partials/_config.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 216, ../sass/partials/_config.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 228, ../sass/partials/_config.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 237, ../sass/partials/_config.scss */
.invisible {
  visibility: hidden;
}

/* line 242, ../sass/partials/_config.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 247, ../sass/partials/_config.scss */
.clearfix:after {
  clear: both;
}

/* line 251, ../sass/partials/_config.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 260, ../sass/partials/_config.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 268, ../sass/partials/_config.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 272, ../sass/partials/_config.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 276, ../sass/partials/_config.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 286, ../sass/partials/_config.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 291, ../sass/partials/_config.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 296, ../sass/partials/_config.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 301, ../sass/partials/_config.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 305, ../sass/partials/_config.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 315, ../sass/partials/_config.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 321, ../sass/partials/_config.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* RI GRID */
/* line 330, ../sass/partials/_config.scss */
.ri-grid {
  margin: 30px auto 30px;
  position: relative;
  height: auto;
}

/* line 336, ../sass/partials/_config.scss */
.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 347, ../sass/partials/_config.scss */
.ri-grid ul:before,
.ri-grid ul:after {
  content: '';
  display: table;
}

/* line 352, ../sass/partials/_config.scss */
.ri-grid ul:after {
  clear: both;
}

/* line 356, ../sass/partials/_config.scss */
.ri-grid ul {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 360, ../sass/partials/_config.scss */
.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

/* line 375, ../sass/partials/_config.scss */
.ri-grid ul li a {
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
/* line 405, ../sass/partials/_config.scss */
.ri-grid-size-1 {
  width: 55%;
}

/* line 408, ../sass/partials/_config.scss */
.ri-grid-size-2 {
  width: 100%;
}

/* line 411, ../sass/partials/_config.scss */
.ri-grid-size-3 {
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
/* line 418, ../sass/partials/_config.scss */
.ri-shadow:after,
.ri-shadow:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 435, ../sass/partials/_config.scss */
.ri-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 446, ../sass/partials/_config.scss */
.ri-grid-loading:after,
.ri-grid-loading:before {
  display: none;
}

/* line 450, ../sass/partials/_config.scss */
.ri-loading-image {
  display: none;
}

/* line 454, ../sass/partials/_config.scss */
.ri-grid-loading .ri-loading-image {
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  margin: 100px 0 0 -15px;
  display: block;
}

/* line 1, ../sass/partials/_main.scss */
body {
  transition: all 0.3s;
}
/* line 3, ../sass/partials/_main.scss */
body.intro {
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 8, ../sass/partials/_main.scss */
#main-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 1;
}
/* line 14, ../sass/partials/_main.scss */
#main-wrapper img {
  width: 100%;
}

/* line 19, ../sass/partials/_main.scss */
#project_closeButton {
  position: fixed;
  right: 3%;
  top: 5%;
  z-index: 11;
}

/* line 26, ../sass/partials/_main.scss */
#contactButtonHolder {
  height: 100%;
  cursor: pointer;
}
/* line 30, ../sass/partials/_main.scss */
#contactButtonHolder img {
  max-width: 76px;
  width: 100%;
  position: relative;
  top: 45%;
  display: block;
  margin: auto;
  opacity: 0.8;
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  transition: all 0.2s;
}
/* line 43, ../sass/partials/_main.scss */
#contactButtonHolder:hover img {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 50, ../sass/partials/_main.scss */
#filler2 {
  position: relative;
  overflow: hidden;
}
/* line 54, ../sass/partials/_main.scss */
#filler2 .phrases {
  position: absolute;
  left: 41%;
  width: 226px;
  height: 100%;
  top: 0;
  z-index: 10;
  background-image: url(../img/whatareyouworkingon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 67, ../sass/partials/_main.scss */
#filler3 {
  position: relative;
  background-image: url(../img/PREVIEW_FILLER3.png);
  background-size: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #8debe6;
}
/* line 75, ../sass/partials/_main.scss */
#filler3 .coffeeGif {
  max-width: 433px;
}
/* line 79, ../sass/partials/_main.scss */
#filler3 .phrases {
  position: absolute;
  left: 35%;
  width: 30%;
  height: 100%;
  top: 0;
  background-image: url(../img/thesourceoffcreativity.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 92, ../sass/partials/_main.scss */
#theeth {
  height: 33px;
  width: 100%;
  background-image: url(../img/theeth.png);
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 2;
}

/* line 102, ../sass/partials/_main.scss */
#contacts {
  width: 0;
  height: 100%;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

/* line 111, ../sass/partials/_main.scss */
#menuframe {
  display: none;
  width: 193px;
  height: 51px;
  background-image: url(../img/menu_frame.png);
  background-repeat: no-repeat;
  top: 46%;
  position: absolute;
  right: -175px;
  text-align: center;
}
/* line 122, ../sass/partials/_main.scss */
#menuframe span {
  position: relative;
  padding-right: 5px;
  top: 10px;
  font-size: 22px;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
}

/* line 133, ../sass/partials/_main.scss */
#menu {
  display: none;
  position: relative;
  top: 41%;
  width: 29px;
  margin: auto;
}
/* line 140, ../sass/partials/_main.scss */
#menu ul {
  padding: 0;
}
/* line 144, ../sass/partials/_main.scss */
#menu ul li a {
  width: 29px;
  height: 29px;
  background: url(../img/menu_button.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: block;
}
/* line 155, ../sass/partials/_main.scss */
#menu ul li a:hover img, #menu ul li a.selected img {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 159, ../sass/partials/_main.scss */
#menu ul li a img {
  transition: all 0.4s;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 171, ../sass/partials/_main.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 175, ../sass/partials/_main.scss */
.siteframe {
  position: fixed;
  background: white;
  z-index: 3;
}
/* line 180, ../sass/partials/_main.scss */
.siteframe.top {
  top: 0;
  width: 100%;
}
/* line 185, ../sass/partials/_main.scss */
.siteframe.bottom {
  bottom: 0;
  width: 100%;
}
/* line 190, ../sass/partials/_main.scss */
.siteframe.left {
  left: 0;
}
/* line 194, ../sass/partials/_main.scss */
.siteframe.right {
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1130px) {
  /* line 202, ../sass/partials/_main.scss */
  .siteframe #menuframe {
    display: none;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
}
/* line 1, ../sass/partials/_home.scss */
#home {
  background-size: 100%;
  background-image: url(../img/background_home.jpg);
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: table;
  background-attachment: fixed;
}
/* line 11, ../sass/partials/_home.scss */
#home h1 {
  margin: auto;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 18, ../sass/partials/_home.scss */
#home h1 img {
  width: 100%;
  max-width: 570px;
}
/* line 24, ../sass/partials/_home.scss */
#home div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70%;
  display: block;
  height: 45px;
}
/* line 32, ../sass/partials/_home.scss */
#home div a {
  max-width: 65px;
  height: 63px;
  display: block;
  position: relative;
  margin: auto;
  background-image: url(../img/button_scroll.png);
  background-repeat: no-repeat;
  width: 10%;
  background-size: 100%;
}
/* line 43, ../sass/partials/_home.scss */
#home div a img {
  width: 100%;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.3s;
}
/* line 50, ../sass/partials/_home.scss */
#home div a:hover img {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 60, ../sass/partials/_home.scss */
#projectHome {
  background-position: 0 0;
  background-position-y: 0;
  background-position-x: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: table;
  background-repeat: repeat-x;
  padding-bottom: 40px;
}
/* line 73, ../sass/partials/_home.scss */
#projectHome #homewrapper .projectPic {
  margin-bottom: 40px;
}
/* line 81, ../sass/partials/_home.scss */
#projectHome #homewrapper .left-container {
  border-right: 3px solid white;
  min-height: 400px;
  padding-bottom: 100px;
  position: relative;
  display: block;
}
/* line 88, ../sass/partials/_home.scss */
#projectHome #homewrapper .left-container article {
  padding-right: 10px;
  margin-bottom: 5px;
}
/* line 92, ../sass/partials/_home.scss */
#projectHome #homewrapper .left-container article h1 {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  font-family: "mission_gothicbold",arial;
}
/* line 101, ../sass/partials/_home.scss */
#projectHome #homewrapper .left-container article p {
  margin: 0;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: right;
}
/* line 112, ../sass/partials/_home.scss */
#projectHome #homewrapper .right-container article {
  padding-left: 10px;
  margin-bottom: 10px;
}
/* line 116, ../sass/partials/_home.scss */
#projectHome #homewrapper .right-container article h1 {
  line-height: 1;
  margin: 0;
  color: white;
  font-size: 49px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Amatic SC', cursive;
}
/* line 125, ../sass/partials/_home.scss */
#projectHome #homewrapper .right-container article h1 span {
  position: relative;
}
/* line 128, ../sass/partials/_home.scss */
#projectHome #homewrapper .right-container article h1 span img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
}
/* line 137, ../sass/partials/_home.scss */
#projectHome #homewrapper .right-container article p {
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 200;
}
/* line 151, ../sass/partials/_home.scss */
#projectHome #bt_scrolldown {
  background: none;
  width: 85%;
  text-align: center;
  border: none;
  max-width: 1200px;
  display: block;
  margin: auto;
}
/* line 160, ../sass/partials/_home.scss */
#projectHome #bt_scrolldown img {
  width: auto;
  position: relative;
  top: -5px;
  left: 39%;
  display: block;
}

/* line 170, ../sass/partials/_home.scss */
.videocontainer {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}
/* line 177, ../sass/partials/_home.scss */
.videocontainer .videoHolder {
  position: relative;
  margin: auto;
  max-width: 828px;
  height: 420px;
  width: 90%;
}
/* line 184, ../sass/partials/_home.scss */
.videocontainer .videoHolder .video-js {
  pointer-events: auto;
  width: auto !important;
  height: auto !important;
}
/* line 190, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-control-bar {
  z-index: 111;
}
/* line 194, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-control-bar, .videocontainer .videoHolder .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.8) !important;
}
/* line 199, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-big-play-button img {
  width: 60% !important;
}
/* line 204, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-fullscreen-control {
  display: none;
}
/* line 204, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-default-skin .vjs-volume-control {
  margin-right: 20px;
}
/* line 206, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-play-progress {
  background-color: #8debe6 !important;
}
/* line 210, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-default-skin .vjs-big-play-button {
  display: block;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 40%;
  width: 20%;
  height: 20%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  background: none !important;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 229, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-default-skin .vjs-big-play-button:hover {
  background: none !important;
  border: none !important;
  -webkit-transform: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 238, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-default-skin .vjs-big-play-button:focus {
  background: none !important;
  border: none !important;
  -webkit-transform: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 248, ../sass/partials/_home.scss */
.videocontainer .videoHolder .vjs-default-skin .vjs-big-play-button:before {
  content: "";
}
/* line 252, ../sass/partials/_home.scss */
.videocontainer .videoHolder #whoamivideo {
  position: relative;
  z-index: 2;
  width: 100% !important;
  height: 420px !important;
}
/* line 259, ../sass/partials/_home.scss */
.videocontainer .videoHolder video {
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 265, ../sass/partials/_home.scss */
.videocontainer .videoHolder .videoShadow {
  position: absolute;
  top: -12%;
  z-index: 1;
  display: block;
  z-index: 1;
}
/* line 272, ../sass/partials/_home.scss */
.videocontainer .videoHolder .videoShadow img {
  width: 120% !important;
  position: relative;
  left: -9%;
  top: 0;
}

/* line 282, ../sass/partials/_home.scss */
#sections {
  text-align: center;
}
/* line 285, ../sass/partials/_home.scss */
#sections img {
  width: 100%;
}

/* line 290, ../sass/partials/_home.scss */
#bt_scrollbackUp {
  background: none;
  text-align: center;
  border: none;
  padding: 0;
  width: 98px;
  height: 92px;
  margin: auto;
  display: block;
  margin-top: 20px;
  background-image: url(../img/backtotop.png);
}
/* line 302, ../sass/partials/_home.scss */
#bt_scrollbackUp img {
  transition: all 0.3s;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  width: auto;
}
/* line 309, ../sass/partials/_home.scss */
#bt_scrollbackUp:hover img {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 315, ../sass/partials/_home.scss */
#socialitems {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@media screen and (max-width: 1290px) {
  /* line 324, ../sass/partials/_home.scss */
  #projectHome #bt_scrolldown img {
    left: 38%;
  }
}
@media screen and (max-width: 1080px) {
  /* line 334, ../sass/partials/_home.scss */
  #projectHome #bt_scrolldown img {
    left: 37%;
  }
}
@media screen and (max-width: 780px) {
  /* line 345, ../sass/partials/_home.scss */
  #projectHome #bt_scrolldown img {
    left: 36%;
  }
}
@media screen and (max-width: 762px) {
  /* line 355, ../sass/partials/_home.scss */
  #projectHome #homewrapper .left-container {
    border: 0;
    border-right: none;
    min-height: 0;
    padding-bottom: 10px;
    position: relative;
    height: auto !important;
    display: block;
    padding-left: 20px;
  }
  /* line 365, ../sass/partials/_home.scss */
  #projectHome #homewrapper .left-container article {
    padding-right: 10px;
    margin-bottom: 5px;
  }
  /* line 369, ../sass/partials/_home.scss */
  #projectHome #homewrapper .left-container article h1 {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  /* line 377, ../sass/partials/_home.scss */
  #projectHome #homewrapper .left-container article p {
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
  }
}
/* line 1, ../sass/partials/_contacts.scss */
#contacts {
  background-image: url(../img/background_contact.png);
  background-repeat: repeat-y;
  padding-top: 100px;
}
/* line 7, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper {
  -webkit-transform-origin: -5% 100%;
  width: 360px;
  margin: auto;
}
/* line 12, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
  width: 103%;
}
/* line 26, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem {
  width: 83px;
  height: 83px;
  float: left;
  margin-left: 11px;
}
/* line 32, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem:first-child {
  margin-left: 0;
}
/* line 36, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem.ce {
  background-image: url(../img/ce_ON.png);
}
/* line 40, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem.er {
  background-image: url(../img/er_ON.png);
}
/* line 44, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem.cloud {
  background-image: url(../img/cloud_ON.png);
}
/* line 48, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem.ook {
  background-image: url(../img/ook_ON.png);
}
/* line 52, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem img {
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.1s;
}
/* line 57, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem:hover {
  background-image: none;
}
/* line 59, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper .shareItem:hover img {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 66, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder .contacts {
  background-image: url(../img/contactsHolder.png);
  width: 359px;
  height: 110px;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: -30px;
  padding-left: 3%;
  margin-left: 1px;
  padding-top: 15px;
}
/* line 77, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder .contacts p {
  color: white;
  margin: 2px 0;
}
/* line 83, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder input {
  border: 0;
  border-radius: 20px;
  height: 37px;
  width: 97%;
  padding-left: 3%;
  margin-bottom: 20px;
  color: #a4a4a4;
  font-weight: 200;
}
/* line 94, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder textarea {
  width: 94%;
  border: 0;
  border-radius: 20px;
  overflow: hidden;
  padding: 3%;
  padding-top: 5%;
  color: #a4a4a4;
  text-align: left;
  font-weight: 200;
  resize: none;
  position: relative;
  z-index: 1;
  height: 110px;
}
/* line 110, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder button {
  position: relative;
  top: -20px;
  z-index: 2;
  width: 100%;
  height: 55px;
  text-align: center;
  background-repeat: no-repeat;
  border: 0;
  left: 0%;
  background: #2dc4bc;
  padding: 0;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 126, ../sass/partials/_contacts.scss */
#contacts #contactsInnerWrapper #formHolder button:hover {
  background-color: #35ccc4;
}

/* line 1, ../sass/partials/_projects.scss */
.projectImageContainer {
  width: 100%;
  margin: auto;
  position: relative;
}
/* line 6, ../sass/partials/_projects.scss */
.projectImageContainer .addthis_button_pinterest_pinit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

/* line 14, ../sass/partials/_projects.scss */
#projects {
  position: relative;
  margin-bottom: -25px;
  z-index: 2;
  background-image: url(../img/background_projects_repeat.jpg);
  width: 100%;
  position: relative;
  background-size: 100%;
}
/* line 25, ../sass/partials/_projects.scss */
#projects #projects_container {
  background-image: url(../img/background_projects_top.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
}
/* line 31, ../sass/partials/_projects.scss */
#projects #projects_container h1 {
  width: 100%;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}
/* line 37, ../sass/partials/_projects.scss */
#projects #projects_container h1 img {
  width: 90%;
  max-width: 504px;
  margin: auto;
  display: block;
}
/* line 45, ../sass/partials/_projects.scss */
#projects #projects_container ul {
  list-style-type: none;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  max-width: 1100px;
}
/* line 52, ../sass/partials/_projects.scss */
#projects #projects_container ul li {
  float: left;
  width: 27%;
  position: relative;
  max-width: 300px;
  display: block;
  margin: 20px 25px;
  overflow: hidden;
}
/* line 64, ../sass/partials/_projects.scss */
#projects #projects_container ul li:hover a img.hover {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 68, ../sass/partials/_projects.scss */
#projects #projects_container ul li:hover a img.desc {
  -webkit-transform: scale(1);
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 78, ../sass/partials/_projects.scss */
#projects #projects_container ul li a img.hover {
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
}
/* line 85, ../sass/partials/_projects.scss */
#projects #projects_container ul li a img.desc {
  -webkit-transform: scale(0.6);
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  /* line 106, ../sass/partials/_projects.scss */
  #projects ul {
    padding: 0;
  }
  /* line 109, ../sass/partials/_projects.scss */
  #projects ul li {
    float: none !important;
    width: 100% !important;
    margin: auto !important;
  }
}
/* line 1, ../sass/partials/_whoami.scss */
#whoami {
  padding-bottom: 20px;
  background-image: url(../img/background_whoami.png);
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  background-color: #efefef;
  overflow: hidden;
  background-attachment: fixed;
}
/* line 12, ../sass/partials/_whoami.scss */
#whoami #whoami_bigcarrot {
  position: absolute;
  left: -18%;
  width: 795px;
  height: 100%;
  top: 20%;
  z-index: 0;
  background-image: url(../img/whoami_bigcarrot.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 24, ../sass/partials/_whoami.scss */
#whoami #whoami_smallcarrot {
  position: absolute;
  left: 70%;
  width: 335px;
  height: 100%;
  top: 45%;
  z-index: 0;
  background-image: url(../img/whoami_smallcarrot.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 36, ../sass/partials/_whoami.scss */
#whoami #whoami_orange {
  position: absolute;
  left: 60%;
  width: 398px;
  height: 100%;
  top: 0;
  z-index: 0;
  background-image: url(../img/whoami_orange.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 48, ../sass/partials/_whoami.scss */
#whoami #lampContainer {
  z-index: 2;
  position: relative;
}
/* line 52, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 207px;
  height: 350px;
  top: 55px;
  margin: auto;
}
/* line 61, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp div {
  position: absolute;
  display: none;
  top: 20px;
  right: 30%;
}
/* line 68, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp img {
  position: absolute;
}
/* line 71, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp img.light {
  z-index: 3;
  display: none;
  width: 200%;
  left: -50%;
  top: 110px;
  pointer-events: none;
}
/* line 80, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp img.on {
  z-index: 2;
  display: none;
}
/* line 85, ../sass/partials/_whoami.scss */
#whoami #lampContainer #lamp img.off {
  z-index: 1;
}
/* line 91, ../sass/partials/_whoami.scss */
#whoami #lampContainer #rope {
  position: relative;
  z-index: 2;
  width: 14px;
  margin: auto;
  top: -30px;
}
/* line 98, ../sass/partials/_whoami.scss */
#whoami #lampContainer #rope img {
  top: -165px;
  position: relative;
}
/* line 105, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 250px;
}
/* line 112, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder {
  position: relative;
  margin: auto;
  max-width: 828px;
  height: 420px;
  width: 90%;
}
/* line 119, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder #btclose {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 5;
  background: none;
  border: 0;
}
/* line 128, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder #whoamivideo {
  position: relative;
  z-index: 2;
  width: 100% !important;
  height: 420px !important;
}
/* line 135, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder video {
  width: 100%;
}
/* line 139, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder #videoShadow {
  position: absolute;
  top: -15%;
  z-index: 1;
  display: block;
  z-index: 1;
}
/* line 146, ../sass/partials/_whoami.scss */
#whoami #whoamivideocontainer #videoHolder #videoShadow img {
  width: 114%;
  position: relative;
  left: -6%;
  top: 0;
}
/* line 156, ../sass/partials/_whoami.scss */
#whoami #whoamiphoto {
  z-index: 2;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 293px;
  z-index: 1;
  top: -275px;
}
/* line 165, ../sass/partials/_whoami.scss */
#whoami #whoamiphoto img {
  width: 100%;
  position: absolute;
}
/* line 168, ../sass/partials/_whoami.scss */
#whoami #whoamiphoto img.on {
  z-index: 2;
}
/* line 174, ../sass/partials/_whoami.scss */
#whoami h1 {
  position: relative;
  z-index: 2;
  text-align: center;
}
/* line 179, ../sass/partials/_whoami.scss */
#whoami h1 img {
  width: 100%;
  max-width: 190px;
}
/* line 185, ../sass/partials/_whoami.scss */
#whoami p {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 570px;
  text-align: center;
  margin: auto;
  line-height: 23px;
  margin-bottom: 20px;
  font-size: 13px;
}

@media screen and (max-width: 1025px) {
  /* line 199, ../sass/partials/_whoami.scss */
  #whoami #whoamivideocontainer #videoHolder #btclose {
    right: -7px;
    top: 40px;
  }
}
@media screen and (max-width: 960px) {
  /* line 206, ../sass/partials/_whoami.scss */
  #whoami #whoamivideocontainer #videoHolder #btclose {
    right: -19px;
    top: 40px;
  }
}
@media screen and (max-width: 760px) {
  /* line 213, ../sass/partials/_whoami.scss */
  #whoami #whoamivideocontainer #videoHolder #btclose {
    right: -19px;
    top: 80px;
  }
}
@media screen and (max-width: 560px) {
  /* line 220, ../sass/partials/_whoami.scss */
  #whoami #whoamivideocontainer #videoHolder #btclose {
    right: -19px;
    top: 140px;
  }
}
/* line 2, ../sass/partials/_gallery.scss */
#gallery #galleryimages {
  overflow: hidden;
  margin: auto;
  padding: 0;
  max-width: 100%;
}
/* line 8, ../sass/partials/_gallery.scss */
#gallery #galleryimages .grid-25 {
  padding: 0;
}
/* line 12, ../sass/partials/_gallery.scss */
#gallery #galleryimages .galleryitem {
  overflow: hidden;
}
/* line 14, ../sass/partials/_gallery.scss */
#gallery #galleryimages .galleryitem div {
  position: relative;
  overflow: hidden;
}
/* line 18, ../sass/partials/_gallery.scss */
#gallery #galleryimages .galleryitem .figure {
  float: left;
}
